{% extends 'base/layout.html' %}
{% block title_block %}Dashboard | Cache In, Felicity Threads {% endblock %}
{% block main_block %}
    <p class="page-description">
        The event has started. Go to Problems page to view problems.
    </p>
    <div class="row">
        <div class="col-offset-1-12 col-3-12">
            <div class="box" id="notifications-box">
                <div class="well">
                    <h3>Updates</h3>
                </div>
                {% for notif in notifs %}
                    <div class="box-item">{{notif.clarification_messages_message}}</div>
                {% endfor %}
            </div>
        </div>
        <div class="col-offset-1-12 col-6-12">
            <div class="box" id="rules-box">
                <div class="well">
                    <h3>Instructions</h3>
                </div>
                <div class="box-item">
                    For any query, doubts, suggessions or discrepencies contact via
                    <ul>
                        <li>Email: <a href="mailto:cachein@felicity.iiit.ac.in" target="_blank">cachein@felicity.iiit.ac.in</a></li>
                        <li>Facebook Forum: <a href="https://www.facebook.com/pages/CacheIn/353693844812708?sk=app_202980683107053" target="_blank">CacheIn | Forum</a></li>
                        <li>Facebook Events page: <a href="https://www.facebook.com/events/400975350085040/" target="_blank">Cache In @ Felicity'15</a></li>
                        <!--li>IRC: <a href="#" target="_top">#CacheIn</a></li-->
                    </ul>
                </div>
                <div class="box-item">
                    <div id="rules-btn">Rules &nbsp;<span id="rules-arrow">▼</span></div>
                    <ol id="rules">
                        <li>
                            Each right answer will fetch you 100 points and will lead you to the next level.
                        </li>
                        <li>
                            Each wrong answer will penalize you for 30 seconds.
                        </li>
                        <li>
                            The answers can be a single word or a phrase.
                        </li>
                        <li>
                            There is no partial scoring for any question.
                        </li>
                        <li>
                            This is an individual event. Any type of plagiarism will lead to disqualification.
                        </li>
                        <li>
                            Hints will be provided from time to time.
                        </li>
                        <li>
                            The participants will be ranked first on number of questions solved. In case of a tie, the time taken to solve the questions will be considered.
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            $('#rules-btn').click(function(){
                var $this = $(this);
                if ($this.hasClass('opened')) {
                    $('#rules').stop().slideUp(500);
                    $this.removeClass('opened');
                }
                else {
                    $('#rules').stop().slideDown(500);
                    $this.addClass('opened');
                }
            });
        });
    </script>
{% endblock %}
