<!DOCTYPE html>
<html>
<head>
    <title>{% block title_block %}{% endblock %}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://felicity.iiit.ac.in/css/normalize.css">
    <link rel="stylesheet" href="http://felicity.iiit.ac.in/css/base.css"/>
    <link rel="stylesheet" href="/contest/static/css/portals.css"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="http://felicity.iiit.ac.in/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
</head>
<body>
    <div class="wrapper">
        <div class="navbar">
            <a class="navbar-title" href="http://felicity.iiit.ac.in/home">Felicity</a>
            &gt;
            <a href="http://felicity.iiit.ac.in/threads/">Threads</a>
            <ul>
                <li>Hello, {{user_nick}}</li>
                <li>
                    <a href="/contest/accounts/logout">Logout</a>
                </li>
            </ul>
        </div>
        <div class="sub-navbar">
            <ul class="box">
                <li><a href="/contest/cache_in" id="dashboard-link">Dashboard</a></li>
                <li><a href="/contest/cache_in/problems" id="problems-link">Problems</a></li>
                <li><a href="#" id="scoreboard-link">Scoreboard</a></li>
            </ul>
        </div>
        <div class="container">
            <h1>
                Cache In
            </h1>
            <p class="page-sub-title">
                Better you think -> Better you find
            </p>
            {% block main_block %}
            {% endblock %}
        </div>
    </div>

    <script>
    $(function(){
        $('.wrapper').css('min-width', ($('.sub-navbar .box').outerWidth()+10)+'px');
        var title = $('title').text().toLowerCase();
        if (title.indexOf('dashboard') !== -1) {
            $('#dashboard-link').addClass('active');
        }
        else if (title.indexOf('problem') !== -1) {
            $('#problems-link').addClass('active');
        }
        else if (title.indexOf('score') !== -1) {
            $('#scoreboard-link').addClass('active');
        }
    });
    </script>
    <div class="footer">
        <p>&copy; Felicity 2014-2015</p>
    </div>
</body>
</html>
