{% extends "cache_in/layout.html" %}
{% block title_block %}Problems | Cache In, Felicity Threads {% endblock %}
{% block pagesubtitle %}| Problems{% endblock %}
{% block main_block %}
<div class="container" id="problems-list">
	<div id="problems-table-wrapper" class="box">
		<table border="0">
			<thead>
				<tr>
					<th>#</th>
					<th>Title</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				{% for problem in problem_data %}
					<tr>
						<td>{{problem.0}}</td>
						<td><a href="/contest/cache_in/question/{{problem.0}}/{{problem.1}}">{{problem.2}}</a></td>
						{% if problem.3 == "Accepted" %}
							<td><span class="label correct">{{problem.3}}</span></td>
						{% elif problem.3 == "Wrong Answer" %}
							<td class="problem-title"><span class="label wrong">{{problem.3}}</span></td>
						{% else %}
							<td><span class="label unattempted">{{problem.3}}</span></td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
