<!--[if lt IE 8 ]> <html class="ie"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--> <html> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Page not found</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://felicity.iiit.ac.in/css/normalize.css">
<link rel="stylesheet" href="http://felicity.iiit.ac.in/css/base.css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet" type="text/css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<div class="navbar navbar-fixed">
<a href="http://felicity.iiit.ac.in/home" class="navbar-title">felicity<sup>15</sup></a>
</div>
<div class="wrapper">
<div class="jumbotron-container">
<div class="jumbotron">
<h1 class="page-title">ERROR 404</h1>
<p class="lead"> You step in the stream, </p>
<p class="lead"> but the water has moved on. </p>
<p class="lead"> This page is not here. </p>
</div>
</div>
</div>
<div class="footer">
<p>&copy; Felicity 2014-2015</p>
</div>
</body>
</html>

