body {
    background-color: #000;
    overflow-y: scroll;
}
/*
 * dark green used in cache in - #098816
 * Dark yellow used on page here and there (borders) - #96BC0B
 */

::-moz-selection {
    color: white;
    background: #195684;
}
::selection {
    color: white;
    background: #195684;
}
.btn.btn-yellow {
    color: #fff;
    background-color: #96BC0B;
    border: 1px solid #71890F;
}

.btn.btn-yellow:hover {
    background-color: #71890F;
    border: 1px solid #515E15;
}

.box {
    border-radius: 25px 25px 0 0;
    margin-top: 20px;
}
hr {
    background: #96BC0B;
    margin: 20px 0;
    border: none;
    height: 2px;
}
.sub-navbar {
    text-align: center;
    border-bottom: 1px solid #96BC0B;
}
.sub-navbar .box {
    background: rgb(5,17,22);
    border-left: 1px solid #96BC0B;
    border-radius: 0 0 25px 25px;
    border-right: 1px solid #96BC0B;
    float: right;
    margin-bottom: 25px;
    white-space: nowrap;
}
.sub-navbar .box, .box .well {
    border-bottom: 3px solid #96BC0B;
}
.sub-navbar ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 10px;
}
.sub-navbar li {
    display: inline-block;
}
.sub-navbar a {
    display: block;
    margin: 0 5px;
    padding: 5px 20px;
    transition: background-color 0.2s;
}
.sub-navbar a.active {
    background-color: #96BC0B;
}
.sub-navbar a:hover {
    background-color: #71890F;
}
h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 48px;
    font-weight: normal;
    margin: 0;
}
p.page-sub-title {
    font-size: 1.2em;
}
p.page-description {
    font-size: 1.5em;
    margin: 30px auto;
    text-align: center;
}
.box h3 {
    text-align: center;
    padding: 5px;
}
.box-item {
    padding: 10px;
    padding-bottom: 10px;
}
.box-item li {
    margin: 15px auto;
}
#rules-btn {
    cursor: pointer;
    padding: 5px 0;
    border-bottom: 1px solid white;
}
#rules-arrow {
    display: inline-block;
    transition: all 0.5s;
    transform: rotate(-90deg);
}
.opened #rules-arrow {
    transform: rotate(0deg);
}
#rules {
    display: none;
}
#problems-list {
    font-size: 1.2em;
    text-align: center;
}
#problems-list #problems-table-wrapper {
    border: 1px solid #96BC0B;
    border-bottom: none;
    box-shadow: 0 -2px 0px #96BC0B;
    display: inline-block;
}
#problems-list thead tr, #problems-list tbody tr:not(:last-child) {
    border-bottom: 1px solid #ccc;
}
#problems-list tbody tr:hover {
    background-color: rgba(0,0,0,.2);
}
#problems-list td, #problems-list th {
    color: #fff;
    padding: 15px 20px;
}
#problems-list td:first-child, #problems-list th:first-child {
    padding-left: 30px;
}
#problems-list td:last-child, #problems-list th:last-child {
    padding-right: 30px;
}
#problems-list .problem-title {
    text-align: left;
}
#problems-list a {
    border-bottom: 1px solid transparent;
}
#problems-list a:hover {
    border-bottom: 1px solid #ccc;
}
#problems-list .label {
    border-radius: 50px;
    cursor: default;
    font-size: 0.8em;
    padding: 5px 12px;
    white-space: nowrap;
}
#problems-list .label.correct {
  background-color:  #96BC0B;
}
#problems-list .label.wrong {
    background: #9B1E1B;
}
#problems-list .label.unattempted {
    background: #0C6FA0;
}
#question .question-text {
    font-size: 1.1em;
}
#question input[type="text"], #question textarea {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #111;
    display: block;
    font-size: 16px;
    line-height: 1.45em;
    padding: 0.5em 0.5em;
    text-decoration: none;
    -webkit-transition: all 0.1s;
            transition: all 0.1s;
    width: 100%;
}
#question input[type="text"]:focus, #question textarea:focus {
    border-color: #0EA010;
}
#question input[type="submit"] {
    display: block;
    width: 80%;
    margin: 20px auto;
}
#question .question-image-wrapper {
    text-align: center;
}
#question .question-image {
    box-shadow: 0 0 2px white;
    max-width: 100%;
    max-height: 500px;
}
.footer {
    border-top: 1px solid #96BC0B;
}
#notifications-box .box-item:nth-child(odd),
.scoreboard tr:nth-child(even) {
    background-color: rgba(0,0,0,.3);
}
tr.current-user {
    background-color: rgba(220,220,255,.4);
}
#rules-box a,
#problems-list h4 a
{
    border-bottom: 1px solid #ccc;
    transition: all 0.3s ease 0.1s;
}
#problems-list h4 a:hover,
#rules-box a:hover {
    color: orange;
    border-color:orange;
}
.wrapper {
padding-bottom:50px;
}
td:nth-child(3) {
  min-width: 300px;
}
@media all and (max-width: 668px) {
    .container {
        width:100%;
    }
    td:nth-child(2) {
        min-width: 0;
    }
}
@media all and (max-width: 512px) {
    .container {
        padding: 5px;
    }
}
.comment {
    margin-top: 7px;
    margin-bottom: 7px;
    padding-left: 5px;
    border-bottom: 2px solid #77770D;
    border-left: 2px solid #77770D;
}
.comment .usernick {
    line-height: 40px;
    font-size: 1.2em;
    font-style: italic;
}
.comment .comment-text {
    padding-top: 5px;
}
.comment .time {
    text-align: right;
}
.commentform {
    margin-top: 50px;
}
#comment-btn.btn.btn-blue {
    margin: 20px 0 0 0;
}






