{% extends "base/layout.html" %}
{% block title_block %}Submissions | Code Da Circuit, Felicity Pulsation{% endblock %}
{% block pagesubtitle %}| Submissions{% endblock %}
{% block main_block %}
<div class="container" id="problems-list">
	<div id="problems-table-wrapper" class="box">
		<table border="0">
			<thead>
				<tr>
					<th>#</th>
					<th>User</th>
					<th>Question</th>
					<th>Status</th>
					<th>Runtime Log</th>
				</tr>
			</thead>
			<tbody>
				{% for submission in user_submissions %}
					<tr>
						<td>{{submission.id}}</td>
						<td>{{submission.submission_user.user_nick}}</td>
						<td><a href="/contest/code_da_circuit/question/{{submission.submission_question.question_level}}/{{submission.submission_question.question_level_id}}">{{submission.submission_question.question_title}}</a></td>
						{% if submission.submission_state == "Processing" %}
							<td><span class="label unattempted">{{submission.submission_state}}</span></td>
						{% elif submission.submission_state == "Accepted" %}
							<td><span class="label correct">{{submission.submission_state}}</span></td>
						{% elif submission.submission_state == "Wrong Answer" %}
							<td><span class="label wrong">{{submission.submission_state}}</span></td>
						{% else %}
							<td><span class="label unattempted">{{submission.submission_state}}</span></td>
						{% endif %}
						<td>{{submission.submission_runtime_log}}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
